name: Run MySQL and Execute SQL

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  setup-mysql:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10
        volumes:
          - ./git-actions-test/database:/docker-entrypoint-initdb.d

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: main

      - name: Install MySQL client
        run: sudo apt-get install -y mysql-client

      - name: Connect and fetch data from MySQL
        run: |
          pwd
          ls
          cd main
          ls
          cd ..
          cd git-actions-test
          ls
          cd database
          ls -a
          mysql -h127.0.0.1 -uroot -prootpassword -e "source /home/runner/work/git-actions-test/main/git-actions-test/database/init.sql; SHOW DATABASES; USE test; SELECT * FROM user;"

#          sleep 30 # Give some time for MySQL container to initialize completely
#          mysql -h127.0.0.1 -uroot -prootpassword -e "USE test; SELECT * FROM user;"
