name: Run MySQL and Execute SQL

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  setup-mysql:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install MySQL client
        run: sudo apt-get install -y mysql-client

      - name: Connect and fetch data from MySQL
        run: |
          mysql -h127.0.0.1 -uroot -prootpassword -e "source git-actions-test/database/init.sql; SHOW DATABASES; USE 88hey; SELECT * FROM trim;"

#          sleep 30 # Give some time for MySQL container to initialize completely
#          mysql -h127.0.0.1 -uroot -prootpassword -e "USE test; SELECT * FROM user;"
