name: Run MySQL and Execute SQL

on:
  workflow_dispatch:

jobs:
  setup-mysql:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10
        volumes:
          - ./git-actions-test/database/init.sql:/docker-entrypoint-initdb.d/test.sql

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install MySQL client
        run: sudo apt-get install -y mysql-client

      - name: Connect and fetch data from MySQL
        run: |
          sleep 30 # Give some time for MySQL container to initialize completely
          mysql -h127.0.0.1 -uroot -prootpassword -e "USE test; SELECT * FROM user;"
